{extends file="theliastore.tpl"}
{default_translation_domain domain='theliastore'}

{block name="no-return-functions"}
{$admin_current_location = 'store'}
{/block}

{block name="page-title"}{intl d='theliastore.bo.default' l='Store'}{/block}

{block name="check-resource"}admin.module{/block}
{block name="check-access"}view{/block}
{block name="check-module"}TheliaStore{/block}

{block name="main-content"}
<div id="wrapper" class="container">

    {if $general_error}
    <div class="alert alert-danger">
        {$general_error}
    </div>
    {/if}

    <div class="general-block-decorator">

        <h1>{intl d='theliastore.bo.default' l='Create a store account'}</h1>

        {if $error ne ''}
            <div class="alert alert-danger" role="alert">{$error}</div>
        {/if}

        <div class="form-container">

            {form name="store_account.create"}
            <form method="post" action="{url path="/admin/store-account/create"}" class="clearfix">
                {form_hidden_fields}
                {*
                Le hook store.create_account nous permet de faire une demande pour afficher le formulaire de création
                d'utilisateur. Cette demande peut etre effectué toute les 20s
                *}
                {hook name="store.create_account" }
            </form>
            {/form}

        </div>
    </div>
</div>


{/block}