{extends file="theliastore.tpl"}
{default_translation_domain domain='theliastore'}

{block name="no-return-functions"}
{$admin_current_location = 'store'}
{/block}

{block name="page-title"}{intl d='theliastore.bo.default' l='Store'}{/block}

{block name="check-resource"}admin.module{/block}
{block name="check-access"}view{/block}
{block name="check-module"}TheliaStore{/block}

{block name="main-content"}
<div id="wrapper" class="container">

    <ul class="breadcrumb">
        <li><a href="{url path='/admin/home'}">{intl l="Home"}</a></li>
        <li><a href="{url path='/admin/store-account/account'}">{intl d='theliastore.bo.default' l="My store account"}</a></li>
        <li>{intl d='theliastore.bo.default' l='Change my password'}</li>
    </ul>

    {if $general_error}
    <div class="alert alert-danger">
        {$general_error}
    </div>
    {/if}

    <div class="general-block-decorator">

        <h1>{intl d='theliastore.bo.default' l='Change my password'}</h1>

        <div class="form-container">
            {loop type="storeaccountloop" name="storeaccountloop"}
            {form name="store_account.updatepassword"}
            <form method="post" action="{url path="/admin/store-account/updatepassword"}" class="clearfix">

                {form_field field='email'}
                    <input type="hidden" name="{$name}" value="{$EMAIL}" />
                {/form_field}

                {form_field field='id'}
                    <input type="hidden" name="{$name}" value="{$ID}" />
                {/form_field}

                {form_hidden_fields}
                <div class="row">

                    <div class="col-md-3">

                    {form_field field='password'}
                    <div class="form-group ">
                        <label for="{$label_attr.for}">{$label}</label>
                        <input type="{$type}" name="{$name}" class="form-control" id="{$label_attr.for}" placeholder="{$label}">
                    </div>
                    {/form_field}

                    {form_field field='password_confirm'}
                    <div class="form-group ">
                        <label for="{$label_attr.for}">{$label}</label>
                        <input type="{$type}" name="{$name}" class="form-control" id="{$label_attr.for}" placeholder="{$label}">
                    </div>
                    {/form_field}

                    <button type="submit">Ok</button>

                    </div>

                </div>

            </form>
            {/form}
            {/loop}
        </div>
    </div>
</div>


{/block}