{extends file="theliastore.tpl"}
{default_translation_domain domain='theliastore'}

{block name="no-return-functions"}
{$admin_current_location = 'store'}
{/block}

{block name="page-title"}{intl d='theliastore.bo.default' l='Store'}{/block}

{block name="check-resource"}admin.module{/block}
{block name="check-access"}view{/block}
{block name="check-module"}TheliaStore{/block}

{block name="main-content"}
<div id="wrapper" class="container">

    <ul class="breadcrumb">
        <li><a href="{url path='/admin/home'}">{intl l="Home"}</a></li>
        <li><a href="{url path='/admin/store-account/account'}">{intl d='theliastore.bo.default' l="My store account"}</a></li>
        <li>{intl d='theliastore.bo.default' l='Edit my account'}</li>
    </ul>

    {if $general_error}
    <div class="alert alert-danger">
        {$general_error}
    </div>
    {/if}

    <div class="general-block-decorator">

        <h1>{intl d='theliastore.bo.default' l='Edit my account'}</h1>
        {loop type="storeaccountloop" name="storeaccountloop2"}
        <p>test</p>
        {/loop}
        <div class="form-container">
            {loop type="storeaccountloop" name="storeaccountloop"}

            {loop type="storeaccountaddressloop" name="defaultaddress" customer=$ID}

            {/loop}

            {form name="store_account.update"}
            <form method="post" action="{url path="/admin/store-account/update"}" class="clearfix">

                {form_hidden_fields}

                {form_field field='email'}
                    <input type="text" name="{$name}" value="{$EMAIL}" />
                {/form_field}

                {form_field field='id'}
                    <input type="text" name="{$name}" value="{$ID}" />
                {/form_field}

                <div class="row">

                    <div class="col-md-3">

                    {form_field field='title'}
                    <div class="form-group ">
                        <label for="{$label_attr.for}">{$label}</label>
                        <select name="{$name}" class="form-control" id="{$label_attr.for}">
                            {loop type="title" name="title.list"}
                                <option value="{$ID}" >{$LONG}</option>
                            {/loop}
                        </select>

                    </div>
                    {/form_field}

                    {form_field field='firstname'}
                    <div class="form-group ">
                        <label for="{$label_attr.for}">{$label}</label>
                        <input type="{$type}" name="{$name}" class="form-control" id="{$label_attr.for}" placeholder="{$label}" value="{$FIRSTNAME}" required="required">
                    </div>
                    {/form_field}

                    {form_field field='lastname'}
                    <div class="form-group ">
                        <label for="{$label_attr.for}">{$label}</label>
                        <input type="{$type}" name="{$name}" class="form-control" id="{$label_attr.for}" placeholder="{$label}" value="{$LASTNAME}" required="required">
                    </div>
                    {/form_field}



                    {form_field field='address1'}
                    <div class="form-group ">
                        <label for="{$label_attr.for}">{$label}</label>
                        <input type="{$type}" name="{$name}" class="form-control" id="{$label_attr.for}" placeholder="{$label}" value="{$ADDRESS1}" required="required">
                    </div>
                    {/form_field}

                    {form_field field='zipcode'}
                    <div class="form-group ">
                        <label for="{$label_attr.for}">{$label}</label>
                        <input type="{$type}" name="{$name}" class="form-control" id="{$label_attr.for}" placeholder="{$label}" value="{$ZIPCODE}" required="required">
                    </div>
                    {/form_field}

                    {form_field field='city'}
                    <div class="form-group ">
                        <label for="{$label_attr.for}">{$label}</label>
                        <input type="{$type}" name="{$name}" class="form-control" id="{$label_attr.for}" placeholder="{$label}" value="{$CITY}" required="required">
                    </div>
                    {/form_field}

                    {form_field field='country'}
                    <div class="form-group ">
                        <label for="{$label_attr.for}">{$label}</label>
                        <select name="{$name}" class="form-control" id="{$label_attr.for}">
                            {loop type="country" name="country.list"}
                                <option value="{$ID}" {if $IS_DEFAULT}selected="selected"{/if}>{$TITLE}</option>
                            {/loop}
                        </select>
                    </div>
                    {/form_field}

                    {form_field field='lang'}
                    <div class="form-group ">
                        <label for="{$label_attr.for}">{$label}</label>
                        <select name="{$name}" class="form-control" id="{$label_attr.for}">
                            {loop type="lang" name="lang"}
                            <option value="{$ID}" {if $IS_DEFAULT}selected="selected"{/if}>{$TITLE}</option>
                            {/loop}
                        </select>
                    </div>
                    {/form_field}

                    <button type="submit" class="btn btn-ts">{intl d='theliastore.bo.default' l='Edit my account'}</button>

                    </div>

                </div>

            </form>
            {/form}
            {/loop}
        </div>
    </div>
</div>


{/block}