{extends file="theliastore.tpl"}
{default_translation_domain domain='theliastore'}

{block name="no-return-functions"}
{$admin_current_location = 'store'}
{/block}

{block name="page-title"}{intl d='theliastore.bo.default' l='Store'}{/block}

{block name="check-resource"}admin.module{/block}
{block name="check-access"}view{/block}
{block name="check-module"}TheliaStore{/block}

{block name="main-content" append}
<div id="wrapper" class="container container-store">

    {loop type="extensionloop" name="extensionloop" id=$extension_id feature_availability="1:1"}

        {$imageList = []}
        {loop type="imageextensionloop" name="imageextensionloopnew" product=$ID width="690" height="430" resize_mode="borders" }
            {$imageList[] = [
                'count' => $LOOP_COUNT,
                'url' => $IMAGE_URL]
            }
        {/loop}

        <ul class="breadcrumb">
            <li><a href="{url path='/admin/home'}">{intl l="Home"}</a></li>
            <li><a href="{url path='/admin/store'}">{intl d='theliastore.bo.default' l='Store'}</a></li>
            <li>{$TITLE}</li>
        </ul>

        {include file="includes/menu-store.html" info_category=$info_category category_id=$category_id sub_category_id=$sub_category_id}

        {*
        On va chercher les infos sur le vendeur
        *}
        {$seller_id = 0}
        {$seller_title = ""}
        {loop type="sellerloop" name="sellerloop" id=$SELLER_ID}
            {$seller_id = $ID}
            {$seller_title = $TITLE}
        {/loop}

        {*
        On cherche les valeurs de caractéristiques pour chaque version du module
        On cherche les caractéristiques compatibilité et traduction
        *}

        {$feature_compatibilite = []}
        {$feature_lang = []}
        {loop type="extensionversionloop" name="extensionversionloop" extension_id=$EXTENSION_ID}

            {loop type="extensionfeature" name="extensionfeature" feature="2" product=$ID}
                {$feature_compatibilite[] = $TITLE}
            {/loop}

            {loop type="extensionfeature" name="extensionlang" feature="3" product=$ID}
                {$feature_lang[] = $TITLE}
            {/loop}

        {/loop}


        <div class="general-block-decorator block-detail-extension margin-t-30 ">

            <div class="row">

                <div class="col-md-6">
                    <div id="carousel-{$ID}" class="carousel slide" data-ride="carousel">

                        <div class="carousel-inner" role="listbox">
                            {foreach $imageList as $image}
                            <div class="item {if $image.count eq 1}active{/if}">
                                <img src="{$image.url}" >
                            </div>
                            {/foreach}
                        </div>

                        <a class="left my-carousel-control" href="#carousel-{$ID}" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        </a>
                        <a class="right my-carousel-control" href="#carousel-{$ID}" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-2">
                            {*
                            <img src="{$imageList[0].url}" class="img-responsive" >
                            *}
                            {loop type="imageextensionloop" name="logoextensionloop" product=$ID limit="1" width="200" height="200"}
                                <img src="{$IMAGE_URL}" class="img-responsive" >
                            {/loop}
                        </div>
                        <div class="col-md-10">
                            <h3>{$TITLE}</h3>
                            <div class="rating-extension"><input id="input-id" type="number" class="rating"
                              data-show-clear="false"
                              data-show-caption="false"
                              data-min="0" data-max="5" data-step="1" data-size="xs"
                              data-rtl="false"></div>
                            <p class="text-italic">
                                {intl d='theliastore.bo.default' l='Realized by %name' name=$seller_title}
                            </p>
                            <ul class="info-extension">
                                <li><i class="glyphicon glyphicon-save"></i> <span>{$DOWNLOAD_COUNT|number_format:0:".":" "}</span></li>
                                <li><i class="glyphicon glyphicon-tower"></i> <span>{intl d='theliastore.bo.default' l='Realized by %name' name=Openstudio}</span></li>
                            </ul>
                        </div>
                    </div>
                    <hr />
                        {if $PRICE eq 0}
                            <p class="extension-price margin-t-20">{intl d='theliastore.bo.default' l='Free'}</p>
                        {else}
                            <p class="extension-price">{format_money number=$PRICE symbol=$currency_symbol} <span>HT</span></p>
                            <p class="extension-taxedprice">{format_money number=$TAXED_PRICE symbol=$currency_symbol} <span>TTC</span></p>
                        {/if}
                    {ifloop rel="storeaccountloop"}
                        {loop type="storeaccountloop" name="storeaccountloop"}
                        <form action="{url path="/admin/store/product-extension/$extension_id/cartadd"}" method="post">
                            <input type="hidden" name="customer" value="{$ID}" />
                            <button type="submit" class="btn btn-ts bt-add-cart">{intl d='theliastore.bo.default' l='Add to cart'}</button>
                        </form>
                        {/loop}
                    {/ifloop}
                    {elseloop rel="storeaccountloop"}
                        <p>Vous devez etre connecter au store pour télécharger les plugins</p>
                        <a href="{url path="/admin/store-account/login"}" class="btn btn-ts bt-add-cart">{intl l="Login"}</a>
                    {/elseloop}
                    <hr />

                    <ul class="features">
                        <li>{intl d='theliastore.bo.default' l='Compatibility'} :
                            <span class="features-values">
                                {foreach $feature_compatibilite as $item}
                                    {* Eviter les doublons *}
                                    {if !$done.$item}
                                        {$done.$item = 1}
                                        <span
                                            {if {config key="thelia_version"}|strstr:"$item"}
                                                class="features-values-item success"
                                            {else}
                                                class="features-values-item"
                                            {/if}
                                        >
                                        {$item}
                                        </span>
                                    {/if}
                                {/foreach}
                            </span>
                        </li>
                        <li>{intl d='theliastore.bo.default' l='Translated into'} :
                            <span class="features-values">
                                {foreach $feature_lang as $item}
                                    {* Eviter les doublons *}
                                    {if !$done.$item}
                                        {$done.$item = 1}
                                        <img src="{image file="assets/img/flags/{$item}.png"}"  />
                                    {/if}
                                {/foreach}
                            </span>
                        </li>
                    </ul>

                    <p class="have-a-question">{intl d='theliastore.bo.default' l='You have questions ?'} <br /> <a href="#">{intl d='theliastore.bo.default' l='Contact the developer'}</a> </p>

                </div>

            </div>

            <div class=" margin-t-30">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="active"><a href="#ext-description" data-toggle="tab">{intl d='theliastore.bo.default' l='Description'}</a></li>
                    <li><a href="#ext-lesplus" data-toggle="tab">{intl d='theliastore.bo.default' l='+ Merchants / + Customers'}</a></li>

                    {* TODO : Comments *}
                    <li><a href="#ext-commentaire" data-toggle="tab">{intl d='theliastore.bo.default' l='Comments'}</a></li>

                    <li><a href="{url path="/admin/store/seller/$seller_id"}" >{intl d='theliastore.bo.default' l='Editor'}</a></li>

                    {* TODO : FAQ *}
                    {*
                    {if $HAS_FAQ eq 1}
                    <li><a href="#ext-faq" data-toggle="tab">{intl d='theliastore.bo.default' l='FAQ'}</a></li>
                    {/if}
                    *}
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">

                    <div role="tabpanel" class="tab-pane fade active" id="ext-description">{$DESCRIPTION nofilter}</div>

                    <div role="tabpanel" class="tab-pane fade" id="ext-lesplus">
                        <h2>Plus marchand</h2>
                        {$MERCHANT_BENEFIT}
                        <h2>Plus client</h2>
                        {$CUSTOMER_BENEFIT}
                    </div>

                    <div role="tabpanel" class="tab-pane  fade" id="ext-commentaire">
                        {*
                        {ifloop rel="rankloop"}
                        *}
                            {$rank=0}
                            {$rank_id=0}
                            {loop type="rankloop" name="rankloop" object_id=$EXTENSION_ID object_type="extension"}

                                {$readonly = ""}
                                {loop type="rankcustomerloop" name="rankcustomerloop" rank_id=$ID}
                                    {$readonly = "readonly"}
                                {/loop}
                                {$rank=$RANK}
                                {$rank_id=$ID}
                            {/loop}
                            <h2>{intl d='theliastore.bo.default' l='Overall rating'}</h2>
                            <p class="pull-left">
                            <input type="number" class="rating myrating" data-objectid="{$EXTENSION_ID}" data-objecttype="extension"
                              data-show-clear="false"
                              data-show-caption="false"
                              data-min="0" data-max="5" data-step="1" data-size="xs" value="{$rank}" {$readonly} data-inforank="inforank-{$EXTENSION_ID}"
                              data-rtl="false">
                            </p>
                            <span class="info-ranking inforank-{$EXTENSION_ID}" ></span>
                            <span class="overall-rating">{$rank}/5</span>
                            {elseloop rel="rankloop"}
                                <span class="text-success text-first-rank">{intl d='theliastore.bo.default' l='Be the first to rate this extension !'}</span>
                            {/elseloop}
                            <div class="clearBoth col-lg-3 col-md-4 col-sm-6">

                                {$tabValue = []}
                                {$tabValue[5] = ['count_value' => 0, 'pc_value'=> 0, 'stars'=>'<i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i> ']}
                                {$tabValue[4] = ['count_value' => 0, 'pc_value'=> 0, 'stars'=>'<i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star-empty"></i> ']}
                                {$tabValue[3] = ['count_value' => 0, 'pc_value'=> 0, 'stars'=>'<i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star-empty"></i><i class="glyphicon glyphicon-star-empty"></i> ']}
                                {$tabValue[2] = ['count_value' => 0, 'pc_value'=> 0, 'stars'=>'<i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star-empty"></i><i class="glyphicon glyphicon-star-empty"></i><i class="glyphicon glyphicon-star-empty"></i> ']}
                                {$tabValue[1] = ['count_value' => 0, 'pc_value'=> 0, 'stars'=>'<i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star-empty"></i><i class="glyphicon glyphicon-star-empty"></i><i class="glyphicon glyphicon-star-empty"></i><i class="glyphicon glyphicon-star-empty"></i> ']}
                                {$sumCountValue = 0}
                                {loop type="rankvalueloop" name="rankvalueloop" rank_id=$rank_id}
                                    {$tabValue[$INTVALUE]['count_value'] = $COUNT_VALUE}
                                    {$tabValue[$INTVALUE]['pc_value'] = $PCINTVALUE}
                                    {$sumCountValue = $SUM_COUNT_VALUE}
                                    {*<p>{$COUNT_VALUE} - {$PCINTVALUE} - {$SUM_COUNT_VALUE} - </p>*}
                                {/loop}
                                <table class="table table-overall-rating">
                                    <tr>
                                        <th></th>
                                        <th>{intl d='theliastore.bo.default' l='Rating distribution'}</th>
                                        <th></th>
                                    </tr>
                                    {foreach from=$tabValue  key=value item=count}
                                        <tr>
                                            <td class="color-yellow table-stars">
                                                {$count['stars'] nofilter}
                                            </td>
                                            <td>
                                                <div class="progress">
                                                <div class="progress-bar myanimate" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" data-width="{$count['pc_value']}%" style="width: 0%;">
                                                </div>
                                                </div>
                                            </td>
                                            <td class="table-stars-count">({$count['count_value']})</td>
                                        </tr>
                                    {/foreach}
                                </table>

                            </div>
                            <div class="clearBoth"></div>

                        {*
                        {/ifloop}
                        {elseloop rel="rankloop"}
                            <p>{intl d='theliastore.bo.default' l='Nobody have rated this extension.'}</p>
                            <p>{intl d='theliastore.bo.default' l='Be the first to rate this extension !'}</p>
                            <input type="number" class="rating myrating" data-objectid="{$EXTENSION_ID}" data-objecttype="extension"
                              data-show-clear="false"
                              data-show-caption="false"
                              data-min="0" data-max="5" data-step="1" data-size="xs" readonly
                              data-rtl="false">
                        {/elseloop}
                        *}
                    </div>


                    <div role="tabpanel" class="tab-pane  fade" id="ext-editeur">...</div>

                    {* TODO : FAQ *}
                    {*
                    {if $HAS_FAQ eq 1}
                    <div role="tabpanel" class="tab-pane  fade" id="ext-faq">
                        <h2>FAQ</h2>
                    </div>
                    {/if}
                    *}

                </div>

            </div>

        </div>
    {/loop}

    <h2>Vous aimerez aussi</h2>

    {$category_to_list = $sub_category_id}
    {if $category_to_list eq 0}
        {$category_to_list = $category_id}
    {/if}

    <div class="row">
        {*
        feature_availability="1:1" => only display extension, not version
        *}

        {include file="includes/extension-list.html" limit="4" order="random"}

    </div>

</div>


{/block}

{block name="javascript-last-call"}
<script>
    var display_com = false;
    $('a[href="#ext-commentaire"]').on('shown.bs.tab', function (e) {
        console.log(e.target); // newly activated tab
        console.log(e.relatedTarget); // previous active tab

        if(display_com == false){

            $('#ext-commentaire .progress-bar').each(function(){
                $(this).css('width',$(this).data('width'));
            });

        }
        display_com = true;

    });
</script>
{/block}