{extends file="theliastore-extensions.tpl"}
{default_translation_domain domain='theliastore'}

{block name="no-return-functions"}
{$admin_current_location = 'store'}
{/block}

{block name="page-title"}{intl d='theliastore.bo.default' l='My extensions'}{/block}

{block name="check-resource"}admin.module{/block}
{block name="check-access"}view{/block}
{block name="check-module"}TheliaStore{/block}

{block name="main-content" append}
<div id="wrapper" class="container container-store">

    <ul class="breadcrumb">
        <li><a href="{url path='/admin/home'}">{intl l="Home"}</a></li>
        <li>{intl d='theliastore.bo.default' l='My extensions'}</li>
    </ul>

    {include file="includes/menu-store-extension.html"}

    <div class="margin-t-30">

        {*
        On fait deux boucles non imbriqués pour faire moins d'appel à l'api
        *}

        {ifloop rel="acquiredextension"}

            {$tabId = []}
            {$tabExtInfo = []}
            {loop type="acquiredextension" name="acquiredextension"}
                {$tabId[] = $PRODUCT_EXTENSION_ID}
                {$tabExtInfo[$PRODUCT_EXTENSION_ID] = $CODE}
            {/loop}
            {$ids = ','|implode:$tabId}

            {if $ids ne ''}

                {loop type="extensionloop" name="extensionloop" ids=$ids}

                    {$class_extension = "danger"}

                    {$product_id = $ID}

                    {loop type="module" name="module" code=$tabExtInfo[$ID] }
                        {$module_id = $ID}
                        {if $ACTIVE}
                            {$class_extension = ""}
                        {/if}

                        {if $LAST_VERSION ne $VERSION}
                            {$class_extension = "warning"}
                        {/if}

                        {$configurable = $CONFIGURABLE}

                        <div class="une_extension {$class_extension} " id="extension-{$ID}">
                            <div class="container-info-extension">
                            <div class="une_extension_row">
                                <div class="img_extension_cell">
                                    {loop type="imageextensionloop" name="imageextensionloop" product=$product_id limit="1" width="200" height="132" resize_mode="borders"}
                                        <img src="{$IMAGE_URL}" class="img-responsive" >
                                    {/loop}
                                </div>
                                <div class="une_extension_cell header-extension">
                                    <div class="title-extension">
                                        <h2>{$TITLE}</h2>
                                        <p><input id="input-id" type="number" class="rating"
                                            data-show-clear="false"
                                            data-show-caption="false"
                                            data-min="0" data-max="5" data-step="1" data-size="xs"
                                            data-rtl="false"></p>
                                        <div class="make-switch switch-small module-activation visible-md" data-id="{$module_id}" data-on="success" data-off="danger" data-on-label="<i class='glyphicon glyphicon-ok-circle'></i>" data-off-label="<i class='glyphicon glyphicon-remove-circle'></i>">
                                            <input type="checkbox" {if $ACTIVE eq 1}checked{/if}>
                                        </div>
                                        <p>{$VERSION}</p>
                                    </div>
                                </div>
                                <div class="une_extension_cell toggle-extension">

                                    <div class="make-switch switch-small module-activation" data-id="{$module_id}" data-on="success" data-off="danger" data-on-label="<i class='glyphicon glyphicon-ok-circle'></i>" data-off-label="<i class='glyphicon glyphicon-remove-circle'></i>">
                                        <input type="checkbox" {if $ACTIVE eq 1}checked{/if}>
                                    </div>
                                    {if $ACTIVE eq 1}
                                        {if $LAST_VERSION eq $VERSION}
                                            <p class="extension_ok"><span class="glyphicon glyphicon-ok"></span> {$LAST_VERSION}</p>
                                        {else}
                                            <p class="extension_update"><a href="{url path="/admin/store/extension/{$product_id}/update/{$LAST_VERSION_ID}" num_version=$LAST_VERSION}" ><span class="glyphicon glyphicon-repeat"></span> {$LAST_VERSION}</a></p>
                                        {/if}
                                    {/if}


                                </div>
                                <div class="une_extension_cell message-extension border-left">
                                    {loop type="messageloop" name="messageloop" limit=1 type_object="extension" id_object=$EXTENSION_ID}
                                        {$DESCRIPTION}
                                    {/loop}
                                </div>
                            </div>
                            </div>

                            <div class="une_extension_cell cell-btn-group">
                                <div class="cell-btn border-left">
                                    <a data-toggle="collapse" data-hide="#extension-configuration-{$ID}" href="#extension-help-{$ID}" class="ts-icon-question-circle  collapse-btn"></a>
                                </div>
                                <div class="cell-btn border-left">
                                    <a data-toggle="collapse" data-hide="#extension-help-{$ID}" href="#extension-configuration-{$ID}" class="ts-icon-cog  collapse-btn"></a>
                                </div>
                            </div>

                            <div class="collapse collapse-extension-container" id="extension-help-{$ID}">
                                <div class=" collapse-extension">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h3>{intl d='theliastore.bo.default' l='Need help ?'}</h3>
                                            <ul class="list-orange-triangle">
                                                {loop type="documentloop" name="documentloop" apisource="products" source_id=$product_id}
                                                <li><a href="{$DOCUMENT_URL}" target="_blank">{intl d='theliastore.bo.default' l='See the documentation'}</a></li>
                                                {/loop}
                                                {*
                                                <li><a href="#">Consulter la F.A.Q</a></li>
                                                <li><a href="#">Contacter l'éditeur</a></li>
                                                *}
                                            </ul>
                                        </div>
                                        <div class="col-md-6">
                                            <h3>{intl d='theliastore.bo.default' l='Last message'}</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="collapse collapse-extension-container" id="extension-configuration-{$ID}">
                                <div class=" collapse-extension">
                                    <h3>{intl d='theliastore.bo.default' l='Parameter'}</h3>
                                    <ul class="list-orange-triangle">
                                        {if $CONFIGURABLE == 1}
                                            {loop type="auth" name="can_change" role="ADMIN" module=$CODE access="VIEW"}
                                                <li><a class="config-btn-{$ID}{if ! $ACTIVE} disabled no-follow-link{/if}" title="{intl l='Configure this module'}" href="{url path="/admin/module/%code" code=$CODE}">
                                                    {intl d='theliastore.bo.default' l='Extension parameters'}
                                                </a></li>
                                                <li><a href="{url path="/admin/store-extensions/$EXTENSION_ID/versions" version=$VERSION }" data-id="{$ID}" class="my-ajax-action">{intl d='theliastore.bo.default' l='Change version'}</a></li>
                                            {/loop}
                                        {/if}
                                        {loop type="auth" name="can_delete" role="ADMIN" resource="admin.module" access="DELETE"}
                                            <li><a class="module-delete-action" title="{intl l='Delete this module'}" href="#delete_module_dialog" data-id="{$ID}" data-toggle="modal">
                                                {intl d='theliastore.bo.default' l='Remove extension'}
                                            </a></li>
                                        {/loop}
                                        {*
                                        <li><a href="#">{intl d='theliastore.bo.default' l='Do a backup point'}</a></li>
                                        <li><a href="#">{intl d='theliastore.bo.default' l='Manage backup point'}</a></li>
                                        *}
                                    </ul>
                                </div>
                            </div>
                        </div>

                    {/loop}

                {/loop}
            {/if}
        {/ifloop}
        {elseloop rel="acquiredextension"}

            {if $smarty.get.message_error ne ''}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {$smarty.get.message_error}
                </div>
            {/if}
            <div class="alert alert-warning" role="alert">
                {intl d='theliastore.bo.default' l='You have no extension on this website'}
            </div>
            <div class="general-block-decorator margin-t-30 ">
                <p><a href="{url path='admin/store-extensions/check-extension'}"><span class="ts-icon-repeat"></span> Recharger les extensions</a></p>
            </div>
        {/elseloop}
    </div>


</div>


{/block}

{block name="javascript-initialization" append}

    {javascripts file='assets/js/bootstrap-switch/bootstrap-switch.js'}
        <script src="{$asset_url}"></script>
    {/javascripts}

{/block}

{block name="javascript-last-call"}
    <script>
        $('.cell-btn').on('click',function(){
            //$('.cell-btn').not(this).removeClass('active');
            //$('.cell-btn').removeClass('active');
            $(this).siblings().removeClass('active');
            var paneltohide = $(this).children('a').data('hide');
            if($(paneltohide).hasClass('in')){
                $(paneltohide).collapse('hide');
            }
            $(this).toggleClass('active');
        });

        var url_management = "{url path="/admin/module/toggle-activation/"}";
        $(".module-activation").on("switch-change", function(e, data){

            var checkbox = $(this);
            var module_id = checkbox.data('id');
            var is_checked = data.value;

            $('body').append('<div class="modal-backdrop fade in" id="loading-event"><div class="loading"></div></div>');
            $.ajax({
                url: url_management+$(this).data('id')
            }).always(function(){
                $("#loading-event").remove();
            }).done(function() {
            if (is_checked) {
                $('.config-btn-' + module_id + ', .hook-btn-' + module_id)
                .removeClass('disabled')
                .removeClass('no-follow-link');
            } else {
                $('.config-btn-' + module_id + ', .hook-btn-' + module_id)
                .addClass('disabled')
                .addClass('no-follow-link');
            }

            }).fail(function(jqXHR, textStatus, errorThrown){
                checkbox.bootstrapSwitch('toggleState', true);
                $('#module-failed-body').html(jqXHR.responseJSON.error);
                $("#module-failed").modal("show");
            });

        });

    </script>
{/block}