{extends file="theliastore-extensions.tpl"}
{default_translation_domain domain='theliastore'}

{block name="no-return-functions"}
{$admin_current_location = 'store'}
{/block}

{block name="page-title"}{intl d='theliastore.bo.default' l='Store'}{/block}

{block name="check-resource"}admin.module{/block}
{block name="check-access"}view{/block}
{block name="check-module"}TheliaStore{/block}

{block name="main-content" append}
<div id="wrapper" class="container container-store">

    <ul class="breadcrumb">
        <li><a href="{url path='/admin/home'}">{intl l="Home"}</a></li>
        <li>{intl d='theliastore.bo.default' l='My extensions'}</li>
    </ul>

    {*
    {include file="includes/menu-store-extension.html"}
    *}

    <div class="margin-t-30">

        <h2 class="margin-t-50">{intl d='theliastore.bo.default' l='Download'}</h2>

        <div class="general-block-decorator margin-t-30 ">

            <p>{intl d='theliastore.bo.default' l='Please wait during download'}</p>

            <table class="table table-hover">
                <tr>
                    <th class="col-md-4">{intl d='theliastore.bo.default' l='Extension\'s name'}</th>
                    <th class="col-md-6">{intl d='theliastore.bo.default' l='Download status'}</th>
                </tr>
                {foreach $tabextension as $extension}
                <tr>
                    <td>{$extension['product_title']}</td>
                    <td><span id="msg-{$extension['extension_id']}"><img src="{image file='assets/img/ajax-loader.gif'}" /></span></td>
                </tr>
                {/foreach}
            </table>

        </div>

    </div>


</div>

{/block}


{block name="javascript-last-call"}
    <script>
    var nbproduct = {$tabextension|@count};
    {foreach $tabextension as $extension}
        $.ajax({
            data : "num_version={$extension['num']}",
            url : "{url path="admin/store/extension/{$extension['extension_id']}/download/{$extension['version_id']}"}",
            success:function(msg){
                console.log(msg);
                $('#msg-{$extension['extension_id']}').html('<span class="text-success"><span class="glyphicon glyphicon-ok"></span> {intl d='theliastore.bo.default' l='Finished'}</span> ');
                nbproduct --;
            },
            error:function(jqXHR,textStatus,errorThrown ){
                console.log(jqXHR);
                console.log(textStatus);
                console.log(errorThrown);
                $('#msg-{$extension['extension_id']}').html('<span class="text-warning"><span class="glyphicon glyphicon-remove"></span>'+jqXHR.responseJSON.msg+'</span>');
                nbproduct --;
            }
        });
    {/foreach}
    $('a').on('click',function(){
        if(nbproduct!=0)
            return confirm("{intl d='theliastore.bo.default' l='Beware, some download aren\'t finished yet. Will you leave this page ?'}");
    });
    </script>
{/block}