{extends file="theliastore.tpl"}
{default_translation_domain domain='theliastore'}

{block name="no-return-functions"}
{$admin_current_location = 'store'}
{/block}

{block name="page-title"}{intl d='theliastore.bo.default' l='Store'}{/block}

{block name="check-resource"}admin.module{/block}
{block name="check-access"}view{/block}
{block name="check-module"}TheliaStore{/block}

{block name="main-content" append}
<div id="wrapper" class="container container-store">

    <ul class="breadcrumb">
        <li><a href="{url path='/admin/home'}">{intl l="Home"}</a></li>
        <li><a href="{url path='/admin/store'}">{intl d='theliastore.bo.default' l='Store'}</a></li>
        <li>{intl d='theliastore.bo.default' l='Your Cart'}</li>
    </ul>

    {include file="includes/menu-store.html" info_category=$info_category category_id=$category_id sub_category_id=$sub_category_id}

    {include file="includes/order-progress.html" step="cart" }

    {* check error *}
    {hook name="store.error"}

    {$cart_id = 0}
    <div class="general-block-decorator margin-t-15 ">

    {ifloop rel="storecartloop"}
        {$total_price_ht = 0}
        {$total_price_ttc = 0}
    <div class="table-responsive">
        <table class="table table-cart">
            <colgroup>
                <col width="150">
                <col>
                <col width="150">
                <col width="150">
            </colgroup>
            <thead>
            <tr>
                <th></th>
                <th>{intl d='theliastore.bo.default' l='Extension\'s name'}</th>
                <th></th>
                <th>Total HT</th>
            </tr>
            </thead>
            {loop type="storecartloop" name="storecartloop"}
            {$cart_id = $CART_ID}
            <tr>
                <td>
                    {loop type="imageloop" name="logoextensionloop" apisource="products" source_id=$PRODUCT_ID width="118" height="85" force_return="true"}
                        <img src="{$IMAGE_URL}" class="img-responsive" >
                    {/loop}
                    {elseloop rel="logoextensionloop"}
                        <img src="{image source="TheliaStore" file='assets/img/thelia-module-by-default-200x200.png' }" class="img-responsive" />
                    {/elseloop}
                </td>
                <td>
                    {$TITLE}<br />
                    <p><a href="{url path="/admin/store/cart/$CART_ID/item/$ID/delete"}" class="btn btn-link"><span class="glyphicon glyphicon-trash"></span> Supprimer</a></p>
                </td>
                <td></td>
                <td>
                    <span class="cart-price">{format_money number=$PRICE symbol=$currency_symbol}</span>
                    {$total_price_ht = $total_price_ht + $PRICE}
                    {$total_price_ttc = $total_price_ttc + $TAXED_PRICE}
                </td>
            </tr>
            {/loop}
            <tr>
                <td colspan="2"></td>
                <td class="text-right total">Total HT</td>
                <td class="total"><strong>{format_money number=$total_price_ht symbol=$currency_symbol}</strong></td>
            </tr>
            <tr class="noborder">
                <td colspan="2"></td>
                <td class="text-right total">Total TTC</td>
                <td class="total"><strong>{format_money number=$total_price_ttc symbol=$currency_symbol}</strong></td>
            </tr>
        </table>

    </div>
    {if $cart_id ne 0}
        {if $total_price_ttc eq 0}
        <form action="{url path="/admin/store/cart/validate"}" method="post" class="">
            <input type="hidden" name="cart_id" value="{$cart_id}" />
            <button type="submit" class="btn btn-ts"><span class="glyphicon glyphicon-chevron-right"></span> Valider</button>
        </form>
        {else}
        <h3><span class="ts-icon-paiement"></span> {intl d='theliastore.bo.default' l='Choose your payment method'}</h3>
        <form action="{url path="/admin/store/cart/validate"}" method="post" class="">

            {hook name="extension.chose_cart_type" }
            <input type="hidden" name="cart_id" value="{$cart_id}" />
            <button type="submit" class="btn btn-ts"><span class="glyphicon glyphicon-chevron-right"></span> Valider</button>

        </form>
        {/if}
    {/if}
    {/ifloop}
    {elseloop rel="storecartloop"}
        <div class="alert alert-warning " role="alert">
            {intl d='theliastore.bo.default' l='Sorry, your cart is empty.'}
        </div>
    {/elseloop}
        {*
    <h3><span class="glyphicon glyphicon-lock"></span> Paiement sécurisé</h3>
    <div class="row">
        <div class="col-md-6">
            <div class="containerform" style="position: relative; padding: 25px 10px 10px 10px;">
                <div class="alert alert-danger" role="alert">
                    <strong>{intl l="An error occured"}.</strong>
                    <p><a href="{url path="/admin/store/cart"}" class=" btn btn-link text-danger">{intl l="Thank you to revalidate your cart."}</a></p>
                </div>
            </div>
        </div>
    </div>



    <h3><span class="glyphicon glyphicon-lock"></span> Paiement sécurisé</h3>
    <div class="row">
        <div class="col-md-6">
            <div class="containerform" style="position: relative; padding: 25px 10px 10px 10px;">
                <form action="#" method="post" class="form-horizontal" id="paymentform">

                    <div class="form-group has-feedback">
                        <label for="cardNumber" class="col-sm-3 control-label">Card number :</label>
                        <div class="col-sm-9 inputtext">
                            <input id="cardNumber" required="required" class="form-control" type="text" name="cardNumber" size="20" maxlength="30" value="3569990000000157">
                        </div>
                    </div>
                    <div class="form-group has-feedback">
                        <label for="cardExpirationDate" class="col-sm-3 control-label">Expiry date :</label>
                        <div class="col-sm-9 cardExpirationDate">
                            <input id="cardExpirationDate" required="required" class="form-control" type="text" name="cardExpirationDate" maxlength="4" size="4" placeholder="MMYY" value="1217">
                            {html_select_date prefix="StartDate" time=$time end_year="+8" display_days=false all_extra="class='col-md-6 form-control'"}
                        </div>
                    </div>
                    <div class="form-group has-feedback">
                        <label for="cardCvx" class="col-sm-3 control-label">CVV :</label>
                        <div class="col-sm-9">
                            <input id="cardCvx" required="required" class="form-control" type="text" name="cardCvx"  value="123">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="cardCvx" class="col-sm-3 control-label"></label>
                        <div class="col-sm-9">
                            <button type="submit" class="btn btn-ts"><span class="glyphicon glyphicon-chevron-right"></span> Valider</button>
                        </div>
                    </div>

                </form>
            </div>

            <div class="containermessage">
                <div class="alert alert-danger" role="alert">
                    <strong>Erreur</strong>
                    <p>Merci de vérifier les informations de paiement</p>
                </div>
            </div>
        </div>

    </div>
*}

    </div>

</div>

{/block}

{block name="javascript-last-call"}
    <script>

        $(document).on('click','.choosepayment label',function(){
            $('.choosepayment label').removeClass('selected');
            $(this).addClass('selected');
        });

        $(document).on('submit','#paymentform',function(){
            //$('.containerform').append('<div id="myloaderContainer" class="myanimate"></div>');
            //$('#myloaderContainer').addClass('active');

            var myForm = $(this);

            myForm.find('.has-feedback').each(function() {
                $(this).addClass('has-error');
                $(this).find('.col-sm-9').append('<span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>');
            });
            //}addClass('has-error')

            return false;
        });

    </script>
{/block}