{extends file="theliastore.tpl"}
{default_translation_domain domain='theliastore'}

{block name="no-return-functions"}
{$admin_current_location = 'store'}
{/block}

{block name="page-title"}{intl d='theliastore.bo.default' l='Store'}{/block}

{block name="check-resource"}admin.module{/block}
{block name="check-access"}view{/block}
{block name="check-module"}TheliaStore{/block}

{block name="main-content"}
<div id="wrapper" class="container container-store">
    <p>Liste des templates</p>
    <div class="row">
    {include file="includes/extension-list.html" limit="4" depth="2" promo="1" order="random" category=8}
    </div>
</div>


{/block}