@font-face {
    font-family: 'store-thelia';
    src:    url('fonts/store-thelia.eot?r47j3t');
    src:    url('fonts/store-thelia.eot?r47j3t#iefix') format('embedded-opentype'),
        url('fonts/store-thelia.ttf?r47j3t') format('truetype'),
        url('fonts/store-thelia.woff?r47j3t') format('woff'),
        url('fonts/store-thelia.svg?r47j3t#store-thelia') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="ts-icon-"], [class*=" ts-icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'store-thelia' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ts-icon-administration:before {
    content: "\e900";
}
.ts-icon-affiliation:before {
    content: "\e901";
}
.ts-icon-all:before {
    content: "\e902";
}
.ts-icon-autre:before {
    content: "\e903";
}
.ts-icon-fiche-produit:before {
    content: "\e904";
}
.ts-icon-module:before {
    content: "\e905";
}
.ts-icon-paiement:before {
    content: "\e906";
}
.ts-icon-partenaire:before {
    content: "\e907";
}
.ts-icon-poubelle:before {
    content: "\e908";
}
.ts-icon-promotion:before {
    content: "\e909";
}
.ts-icon-reseaux-sociaux:before {
    content: "\e90a";
}
.ts-icon-seo:before {
    content: "\e90b";
}
.ts-icon-statistiques:before {
    content: "\e90c";
}
.ts-icon-store:before {
    content: "\e90d";
}
.ts-icon-telechargement:before {
    content: "\e90e";
}
.ts-icon-transport:before {
    content: "\e90f";
}
.ts-icon-widget:before {
    content: "\e910";
}
.ts-icon-search:before {
    content: "\f002";
}
.ts-icon-heart:before {
    content: "\f004";
}
.ts-icon-star:before {
    content: "\f005";
}
.ts-icon-star-o:before {
    content: "\f006";
}
.ts-icon-check:before {
    content: "\f00c";
}
.ts-icon-close:before {
    content: "\f00d";
}
.ts-icon-remove:before {
    content: "\f00d";
}
.ts-icon-times:before {
    content: "\f00d";
}
.ts-icon-cog:before {
    content: "\f013";
}
.ts-icon-gear:before {
    content: "\f013";
}
.ts-icon-repeat:before {
    content: "\f01e";
}
.ts-icon-rotate-right:before {
    content: "\f01e";
}
.ts-icon-list:before {
    content: "\f03a";
}
.ts-icon-question-circle:before {
    content: "\f059";
}
.ts-icon-cogs:before {
    content: "\f085";
}
.ts-icon-gears:before {
    content: "\f085";
}
.ts-icon-phone:before {
    content: "\f095";
}
.ts-icon-twitter:before {
    content: "\f099";
}
.ts-icon-facebook:before {
    content: "\f09a";
}
.ts-icon-facebook-f:before {
    content: "\f09a";
}
.ts-icon-caret-down:before {
    content: "\f0d7";
}
.ts-icon-caret-up:before {
    content: "\f0d8";
}
.ts-icon-caret-right:before {
    content: "\f0da";
}
.ts-icon-envelope:before {
    content: "\f0e0";
}
.ts-icon-star-half-empty:before {
    content: "\f123";
}
.ts-icon-star-half-full:before {
    content: "\f123";
}
.ts-icon-star-half-o:before {
    content: "\f123";
}
