<?xml version="1.0" encoding="UTF-8" ?>

<config xmlns="http://thelia.net/schema/dic/config"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/config http://thelia.net/schema/dic/config/thelia-1.0.xsd">

    <loops>
        <!-- api loop -->

            <!-- category -->
            <loop name="theliastore_extensioncategoryloop" class="TheliaStore\Loop\ExtensionCategoryLoop" />

            <!-- extension -->
            <loop name="theliastore_extensionloop" class="TheliaStore\Loop\ExtensionLoop" />
            <loop name="theliastore_acquiredextensionmp" class="TheliaStore\Loop\AcquiredExtensionMpLoop" />

            <!-- extension version -->
            <loop name="theliastore_extensionversionloop" class="TheliaStore\Loop\ExtensionVersionLoop" />

            <!-- feature -->
            <loop name="theliastore_extensionfeature" class="TheliaStore\Loop\FeatureValueLoop" />

            <!-- seller -->
            <loop name="theliastore_sellerloop" class="TheliaStore\Loop\SellerLoop" />

            <!-- content -->
            <loop name="theliastore_contentloop" class="TheliaStore\Loop\ContentLoop" />

            <!-- image -->
            <loop name="theliastore_imageloop" class="TheliaStore\Loop\ImageLoop" />

            <!-- document -->
            <loop name="theliastore_documentloop" class="TheliaStore\Loop\DocumentLoop" />

            <!-- account store -->
            <loop name="theliastore_storeaccountloop" class="TheliaStore\Loop\StoreAccountLoop" />
            <loop name="theliastore_storeaccountaddressloop" class="TheliaStore\Loop\StoreAccountAddressLoop" />
            <loop name="theliastore_storeaccountisconnectedloop" class="TheliaStore\Loop\StoreAccountIsConnectedLoop" />

            <!-- cart info -->
            <loop name="theliastore_storecartloop" class="TheliaStore\Loop\CartLoop" />

            <!-- message -->
            <loop name="theliastore_messageloop" class="TheliaStore\Loop\MessageLoop" />

            <!-- rank -->
            <loop name="theliastore_rankloop" class="TheliaStore\Loop\RankLoop" />
            <loop name="theliastore_rankcustomerloop" class="TheliaStore\Loop\RankCustomerLoop" />
            <loop name="theliastore_rankvalueloop" class="TheliaStore\Loop\RankValueLoop" />

            <!-- comment -->
            <loop name="theliastore_commentloop" class="TheliaStore\Loop\CommentLoop" />

        <!-- module loop -->

            <loop name="theliastore_acquiredextension" class="TheliaStore\Loop\AcquiredExtensionLoop" />

        <!-- other -->
        <loop name="theliastore_infoformerchantloop" class="TheliaStore\Loop\InfoForMerchantLoop" />

    </loops>

    <forms>
        <form name="store.config" class="TheliaStore\Form\StoreConfigForm" />
        <form name="store_account.create" class="TheliaStore\Form\StoreAccountCreationForm" />
        <form name="store_account.update" class="TheliaStore\Form\StoreAccountUpdateForm" />
        <form name="store_account.updatepassword" class="TheliaStore\Form\StoreAccountUpdatePasswordForm" />
    </forms>

    <hooks>
        <hook id="theliastore.hook.topbar" class="TheliaStore\Hook\StoreAccountHook">
            <tag name="hook.event_listener" event="main.topbar-top" type="back" method="onMainTopbarTop" />
        </hook>
        <hook id="theliastore.hook.menu" class="TheliaStore\Hook\StoreMenuHook">
            <tag name="hook.event_listener" event="main.topbar-bottom" type="back" method="onMainTopbarBottom" />
            <tag name="hook.event_listener" event="main.in-top-menu-items" type="back" method="onMainInTopMenuItems" />
        </hook>
        <hook id="theliastore.hook.include" class="TheliaStore\Hook\IncludeTheliaStore">
            <tag name="hook.event_listener" event="main.head-css" type="back" method="onMainHeadCss" />
            <tag name="hook.event_listener" event="main.footer-js" type="back" templates="js:assets/js/star-rating.min.js" />
            <tag name="hook.event_listener" event="module.configuration" type="back" method="onModuleConfiguration" />
        </hook>
        <hook id="theliastore.hook.custome" class="TheliaStore\Hook\AdminCustomeHook">
            <tag name="hook.event_listener" event="extension.get_form_payment" type="back" method="onExtensionGetFormPayment" />
            <tag name="hook.event_listener" event="extension.chose_cart_type" type="back" method="onExtensionChoseCartType" />
            <tag name="hook.event_listener" event="store.error" type="back" method="onStoreError" />
        </hook>
    </hooks>

    <services>
        <service id="theliastore.storeextension.action" class="TheliaStore\Action\StoreExtensionAction" scope="request">
            <tag name="kernel.event_subscriber"/>
        </service>
    </services>

</config>
